*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.margin-bottom
{
    margin-bottom: 50px;
}
.first-nav
{
    padding: 20px;
    text-align: end;
    background-color: black;
    color: white;
}

.first-nav svg{
    width: 100px;
}
.flex-between
{
    justify-content: space-between;
}

.button-second-nav
{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background-color: rgb(41, 37, 37);
    color: white;
    border: none;
}

.second-nav li> i 
{
    font-size: 24px;
    padding-left: 10px;
}

.dropdown-toggle:hover .dropdown-menu
{
    display: inline-block;
}

/* main section 1 */
.first-section
{
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 300px;

}
.sfondo-1
{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

.testo-first-section
{
    color: white;
}

.button-first-section
{
    color: white;
    padding: 10px 15px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
}

.first-section img
{
    padding-bottom: 30px;
}

.testo-first-section h1, .testo-first-section p
{
    padding-bottom: 20px;
}

/* 6 colonne sotto main section first */

.figure img
{
    width: 100%;
    border-radius: 50px;
    border: 2px solid transparent;
}
.figure a
{
    display: block;
    border-radius: 50px;
    padding: 0%;
    margin: 10px;
}
.figure a:focus
{
    border:2px solid lightskyblue
}


/* first article */
.first-article
{
    padding: 100px 0px;
    text-align: center;
    
}

.first-article h1
{
    padding-bottom: 50px;
}

.first-article a
{
    text-decoration: none;
}

.first-article p
{
    max-width: 500px;
    min-width: 200px;
    margin: auto;
}

/* second section  */

.second-section
{
    align-items: center;
    text-align: center;
}


.second-section img
{
    width: 100%;
}

section button
{
    border-radius: 50px;
    padding: 10px 15px;
    background-color: rgb(76, 76, 172);
    color: white;
    border: none;

}
/* terza-section */
.third-section .col
{
     padding: 50px;
     text-align: center;
}
.third-section a:focus img
{
    width: 100%;
    opacity: 1;
}
.third-section a
{
    text-decoration: none;
    color: black;
}
.third-section img
{
    opacity: 0.5;

}
.third-section a:focus hr
{
    border: 2px solid blue;
    opacity: 1;
    display: block;

}
hr
{
    border: 2px solid white;
    background-color: white;
    color: white;
    opacity: 0.5;
    display: none;
}

/* second article main */
.second-article 
{
    padding: 50px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.second-article div
{
    color: white;
    width: 200px;
}

.second-article  button
{
    color: white;
    padding: 10px 15px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
}

.second-article img
{
    padding-bottom: 30px;
}

.second-article h1, .second-article p
{
    padding-bottom: 20px;
}



/* four section main */
.flex
{
    flex-wrap: wrap;
    display: flex;
}
.four-section
{
    background-color: rgb(22, 21, 21);
    color: white;
}
.four-section h2, .four-section h1
{
    padding: 20px 30px 0px 30px;
}
.four-section .col
{
    margin: auto;
    padding: 0px 20px;
}
.four-section img
{
    width: 100%;
    border-radius: 30px;
}
.four-section .row
{
    margin: auto;
    margin-bottom: 30px;
    padding: 0%;
    padding-bottom: 50px;
}

/*  */

section img
{
    width: 100%;
}

/*  */
.four-article
{
    background-color: grey;
    align-items: center;
    justify-content: space-between;
}


article img
{
    width: 100%;
}

.four-article button
{
    border-radius: 50px;
    padding: 10px 15px;
    background-color: rgb(60, 60, 165);
    color: white;
    border: none;

}

.four-article .sparisci
{
    display: none;
}


/*  */
figure img
{
    width: 100%;
}

/*  */
.five-article
{
    background-color: rgb(58, 58, 143);
    align-items: center;

}
ul{
    list-style-type: none;
    
}

article img
{ 
    
}

.five-article button
{
    border-radius: 50px;
    padding: 10px 15px;
    border: none;

}
.five-article .col-12>div
{
    color: white;
}
.five-article .sparisci
{
    display: none;
}

@media all and (min-width:768px) {
    .five-article .sparisci ,.four-article .sparisci
    {
        display: block;
        
    }
    .five-article .col-12 ,.four-article .col-12
    {
        padding: 0px 20px;

        
    }

}

@media all and (max-width:766px)
{
    .five-article .col-12 ,.four-article .col-12
    {
        padding: 20px;
        
    }

    footer .menu
    {
        flex-wrap: wrap ;
        padding-bottom: 50px;
    }

}

/* Social */

.five-section
{
    justify-content: center;
}

/* footer */

footer
{
    background-color: rgb(39, 39, 185);
    color: white;
}

footer .menu
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 100px;
    line-height: 30px;
}

footer 
{
    padding: 40px 40px 0px 40px;
}

/* dettagli */

.four-section span, .third-section span 
{
    font-size: 8px;
    vertical-align: text-top;
}

.first-article span
{
    border-radius: 50%;
    border: 1px solid black;
    padding: 0px 3px ;
    font-size: 8px;
    vertical-align:super;
    font-weight: bold;

}

.padding img, .padding div
{
    padding-bottom: 20px;
}