.first-nav
{
    padding: 20px;
    text-align: end;
    background-color: black;
    color: white;
}

.first-nav svg{
    width: 100px;
}
.flex-between
{
    justify-content: space-between;
}

.button-second-nav
{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background-color: rgb(41, 37, 37);
    color: white;
    border: none;
}

.second-nav li> i 
{
    font-size: 24px;
    padding-left: 10px;
}

.dropdown-toggle:hover .dropdown-menu
{
    display: inline-block;
}

/* main section 1 */
.first-section
{
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 300px;

}
.sfondo-1
{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.testo-first-section
{
    color: white;
}

.button-first-section
{
    color: white;
    padding: 10px 15px;
    background-color: tomato;
    border: 1px solid white;
    border-radius: 50px;
}

.first-section img
{
    padding-bottom: 30px;
}

.testo-first-section h1, .testo-first-section p
{
    padding-bottom: 20px;
}

/* 6 colonne sotto main section first */

figure img
{
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
}

/* first article */
.first-article
{
    padding: 100px 0px;
    text-align: center;
    
}

.first-article h1
{
    padding-bottom: 50px;
}

.first-article a
{
    text-decoration: none;
}

/* second section  */

.second-section
{
    align-items: center;
    text-align: center;
}


.second-section img
{
    width: 100%;
}
/* terza-section */
.third-section .col
 {
     padding: 50px;
     text-align: center;
 }
.row .col img
{
    width: 100%;
}



